<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"  href="/css/registration_number.css">
    <title>Document</title>
    <style>
        
	
		.section {
			background-color: rgb(245, 243, 243);
		}
    </style>
</head>

<body>
    <div class="section">
        {{{body}}}
    </div>
</body>

</html>