<body>


	<div class="section">
		<div class="registration">
			<h1>Registration Application</h1>
		</div>

		<form action="/" method="POST">
			<div class="first-section">
				<h2>Registration Number:</h2>
				<div class="format"><h3>eg: CA 123 137 & CJ 123-454</h3></div>
				<textarea name="name" class=" inputTxt"></textarea>
				<br>
				<button class="myButton" on type="submit" name="button">Add</button>
			</div>
		</form>
		<div class="span">
			<form action="/filter" method="post">
				<br>
				<br>
				<label class="">
					<input type="radio" name="town" class="radio-button" value="3">
					<span class="label-body">Paarl</span>
				</label>
				<label class="">
					<input type="radio" name="town" class="radio-button" value="2">
					<span class="label-body">Bellville</span>
				</label>
				<label class="">
					<input type="radio" name="town" class="radio-button" value="1">
					<span class="label-body">Cape Town</span>
				</label>
				<label class="">
					<input type="radio" name="town" class="radio-button" value="4">
					<span class="label-body">Show All</span>
				</label>



		</div>
		<br>
		<div class="button">
			<button class="myButton" type="submit" name="button">Show</button>
			</form>

			<a href="/clear"><button class="myButton" on type="button" name="button">Clear</button> </a>
			<br>
			<br>
			{{#each regnumber }}
			<div class="displaystyle">{{this.regnumbers}}</div>
			{{/each}}
			<div class="display"></div>
			<div class="display"></div>
		</div>
		<br>

		{{#if messages.info}}
		<div class="displaymessage" style="color: red;">
			<p>{{messages.info}}</p>
		</div>
		{{/if}}
		{{#if messages.success}}
		<div class="displaymessage" style="color:rgb(17, 230, 17);">
			<p>{{messages.success}}</p>
		</div>
		{{/if}}
		<script src="timeout.js"></script>
	</div>

</body>

</html>