
<body>
  
	<div class="section">
		<div class="registration">
			<h1>Registration Application</h1>
		</div>
		<div class="first-section">
			<h1>Registration Number: <textarea name="name" class=" inputTxt"></textarea>
				
			</h1>
		</div>
		<div class="span">
            <button class="first-button" on type="button" name="button">Add</button>
            <br>
            <br>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Halmesbay">
				<span class="label-body">Halmesbay</span>
			</label>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Bellville">
				<span class="label-body">Bellville</span>
			</label>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Cape Town">
				<span class="label-body">Cape Town</span>
			</label>


		</div>
		<br>
		<div class="button">

			<button class="first-button" on type="button" name="button">Show</button>
            <br>
            <br>

			<div class="display">CJ 12134</div>
            <div class="display">CK 34657</div>
            <div class="display">CA 12389</div>

		</div>
		<br>
		<div class="display"></div>
	</div>
	
</body>
</html>
