<body>


	<div class="section">
		<div class="registration">
			<h1>Registration Application</h1>
		</div>

		<form action="/" method="POST">
			<div class="first-section">
				<h1>Registration Number:</h1>
				<textarea name="name" class=" inputTxt"></textarea>
				<br>
				<button class="first-button" on type="submit" name="button">Add</button>
			</div>
		</form>
		<div class="span">
			<br>
			<br>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Halmesbay">
				<span class="label-body">Paarl</span>
			</label>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Bellville">
				<span class="label-body">Bellville</span>
			</label>
			<label class="">
				<input type="radio" name="language" class="radio-button" value="Cape Town">
				<span class="label-body">Cape Town</span>
			</label>


		</div>
		<br>
		<div class="button">

			<button class="first-button" on type="button" name="button">Show</button> 
				
		<a href="/clear"><button class="first-button" on type="button" name="button">Clear</button> </a>	
			
			<br>
			<br>
           {{#each regnumber }}
			<div class="displaystyle">{{this.regnumbers}}</div>
            {{/each}}
			<div class="display"></div>
			<div class="display"></div>
		</div>
		<br>

		{{#if messages.info}}
		<div class="displaymessage" style="color: red;"><p>{{messages.info}}</p></div>
		{{/if}}
		{{#if messages.success}}
		<div class="displaymessage" style="color:yellow;"><p>{{messages.success}}</p></div>
		{{/if}}
	</div>
	
</body>

</html>